.menu__popup {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--base00-color);
    z-index: 5;
    height: 100vh;
    padding: 0 16px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.menu__popup.active{
    opacity: 1;
    visibility: visible;
}


.menu__popup-header {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: var(--white-color);
    margin-top: 16px;
}

.menu__popup-header-logo {
    display: flex;
    height: 32px;
}

.menu__popup-user {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    background-color: var(--white-color);
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
}

.menu__popup-header-close {
    display: flex;
}

.menu__popup-user-icon {
    display: flex;
    max-width: 72px;
    min-height: 72px;
}

.menu__popup-user-goals {
    padding: 4px 8px;
    gap: 10px;
    color: var(--pink-color);
    border-radius: 8px;
    font-family: "Euclid Circular B";
    background: #FFEDF5;
}

.menu__popup-user .main__button {
    width: 100%;
    text-align: center;
}

.menu__popup-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
}

.menu__popup-content a {
    font-weight: 500;
    text-decoration: unset;
    font-size: 16px;
    color: var(--text00-color);
    padding: 8px 0px;

}
.menu__popup-content .line{
    background: #EFE9FF;
    width: 100%;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.menu__popup-user-name.text-md{
    color: var(--text00-color);
    font-weight: 500;
    font-size: 16px;
}
.menu__popup-header-div{ 
    width: 32px;
}

.some-popup {
    display: none;
}

.some-popup__background {
    position: fixed; 
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 4;
    left: 0;
    background-color: #000000;
    opacity: 0;
}

.some-popup__wrapper {
    background-color: var(--white-color);
    padding: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 32px;
    opacity: 0;
    transition: .4s;
    border-radius: 24px;
    width: 1024px;
    display: flex;
    gap: 32px;
}

.some-popup_active {
    opacity: 1; 
    display: block;
}

.some-popup_active .some-popup__background{
    opacity: .34; 
}
.some-popup_active .some-popup__wrapper {
    opacity: 1;
}

.some-popup__close-btn {
    position: fixed;
    display: flex;
    top: 32px;
    right: 32px;
    background-color: #EFE9FF;
    padding: 12px;
    z-index: 12;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    width: 56px;
    height: 56px;
}
 

@media (max-width: 800px) {
    .some-popup {
        width: 100%;
        height: 100%;
    }
    .some-popup__wrapper {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        padding: 16px;
        padding-top: 94px;
    }

    .some-popup__image-container {
        display: none;
    }

    .some-popup__form {
        width: 100%;
    }

    .some-form__up {
        overflow: scroll;
    }

    .some-popup__close-btn {
        width: 48px;
        height: 48px;
    }
}