/* FAKE_HEADER */

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: black;
  color: white;
}

/* FAKE_FOOTEr */


.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: black;
  color: white;
}

/* MAIN_PAGE */

.about-us {
  background-color: var(--base00-color);
  padding-bottom: 48px;
  margin-top: 23px;
}

.about-us__about-block {
  padding: 40px 64px;
  border-radius: 32px;
  background-color: var(--purple-color);
  color: var(--white-color);
  margin-top: 24px;
  overflow: hidden;
}

.vasek {
  font-size: 100px;
  position: relative
}

.about-us__about-info-novisible {
  position: relative;
  padding-right: 75px;
}

.about-us__about-info-novisible::after {
  content: "";
  background-image: url("../../assets/imgs/nc-visible.svg");
  width: 63px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 37px;
  position: absolute;
  top: 7px;
}

.vasek-volonteer {
  margin-right: 20px;
  margin-left: 10px;
  top: 13px;
  position: relative;
}

.about-us__about-info-span {
  margin-left: 100px;
  position: relative
}

.about-us__about-info-span::after {
  content: url("../../assets/imgs/nc-measure-value-for-cost.svg");
  position: absolute;
  left: -80px;
  top: 0;
  width: 100%;
}

/* .vasek-volonteer::after {
  content: url("../../assets/imgs/under-line.svg");
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
} */

/* .vasek-volonteer::after {
  content: url("../../assets/imgs/nc-visible.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -90px;
} */

.vasek-support {
  top: 13px;
  left: 5px;
}

/* .vasek-support::after {
  content: url("../../assets/imgs/under-line2.svg");
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
} */

.about-us__about-swiper .swiper-wrapper .swiper-slide {
  border-radius: 32px;
  overflow: hidden;
  width: 100%;
}

.about-us__about-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.about-us__about-swiper {
  margin-top: var(--margin-medium);
  width: 100%;
  padding-bottom: 40px !important;

}

.swiper-control-buttons {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 1000;
}

.swiper-pagination {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1000;
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.swiper-control-buttons button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.swiper-button-right {
  margin-left: 20px;
}

.swiper-pagination__current-slide {
  font-size: 24px;
  margin-right: 5px;
}


/* RUNNINE_LINE */


.about-us__running-lines {
  margin-top: 96px;
  margin-bottom: 100px;
  overflow: hidden;
  color: var(--primary-color);
}

.running-line__list {
  display: flex;
  position: relative;
  left: -20px;
}

.running-line__list:not(:last-child) {
  margin-bottom: 24px;
}

.running-line__list-item {
  margin-right: var(--margin-sm);
  background-color: var(--white-color);
  border-radius: 16px;
  padding: 10px;
  white-space: nowrap;
}

.running-line__list-item span {
  margin-right: 10px;
}

.running-line__list-item_green {
  color: var(--green-color)
}

.running-line__list-item_red {
  color: var(--pink-color);
}

.about-us__running-lines .swiper-slide {
  width: 830px !important;
  max-width: 100%;
}

/* interaction-map */

.interaction-map {
  margin-top: var(--margin-2xl);
  border-radius: var(--margin-medium);
  background-color: var(--white-color);
  padding: 48px;
  display: flex;
  gap: 125px;
}

.interaction-map__image-block {
  width: 50%;
}

.interaction-map__info {
  width: 50%;
}

.interaction-map__image {
  width: 100%;
}

.interaction-map__text-info-title .vasek {
  position: relative;
  margin-right: 10px;
  top: 12px;
  color: var(--pink-color);
  font-size: 82px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
}

.interaction-map__text-info-subtitle {
  color: var(--text01-color);
  margin-top: 8px;
}

.area-list__item {
  display: flex;
  flex-direction: column;
  background-color: var(--base00-color);
  border-radius: 16px;
  padding: 16px;
  align-items: center;
  flex-basis: calc(50% - 12px);
  /* 50% ширины с учетом отступа по 12px с обеих сторон */
  box-sizing: border-box;
  cursor: pointer;
}

.area-list__item-name {
  margin-top: 8px;
  text-align: center;
}

.area__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
}

.staff-list-popup__area-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.staff-item__header {
  display: flex;
  background-color: var(--base00-color);
  border-radius: 8px;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
}

.staff-item__header_left {
  display: flex;
  align-items: center;
}

.staff-item__list {
  margin-top: 16px;
}

.staff-item__list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E6EFFD;
}

.staff-item__list-item-number {
  padding-right: 32px;
}

.staff-item__list-item-info-address {
  font-weight: 400;
  margin-top: 4px;
}

.staff-item__list-item-info-tags {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.staff-item__list-item-info-tags-event {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: #FFF8E1;
  color: #FF6F00;
}

.staff-item__list-item-info-block-phone,
.staff-item__list-item-info-block-email {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 8px;
}

.staff-item__list-item-info-block {
  padding: 16px;
  background-color: #F6F8FC;
  border-radius: 16px;
  margin-top: 12px;
}

.staff-item__list-item-info-block-subtitle {
  margin-top: 4px;
}




.interaction-map__info-show-btn {
  display: none;
  width: 100%;
}

.interaction-map__text-info_mobile {
  display: none;
}

.interaction-map__text-info_mobile .interaction-map__text-info-title {
  margin-top: 13px;
}

.running-line__list {
  animation-name: scroll;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.running-line__list-revert {
  left: -1600px;
  animation-name: scroll;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.running-line__list-revert_company {
  left: -1600px;
  animation-name: scroll;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.running-list__list-norm {
  left: -100%;
}

.running-list__list-norm_company {
  left: -150%;
}
.area__list.hide{
  display: none;
}
.area-list-state-item-right-middle{
  display: flex;
  gap: 8px;
}
.area-list-state-item-right{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.area-list-state-item-right-bottom{
  padding: 16px;
  background: var(--base00-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
}
.area-list-state-header-top{
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.area-list-state-header-bottom{
  display: flex;
  gap: 16px;
}
.area-list-state-header-bottom span{
  margin-left: auto;
}
.area-list-state-content{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.area-list-state-item{
  display: flex;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #F6F8FC  ;
}
.area-list-state-item-left{
  width: 48px;
  display: flex;
}
.area-list-state{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  overflow-y: scroll;
  max-height: 436px;
}
.area-list-state.hide{
  display: none;
}
.area-list-state-header-bottom {
  padding: 8px 16px;
  margin-top: 16px;
  background: #F6F8FC;
  border-radius: 8px;
}
@keyframes scroll {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(60%);
  }
}


/* 1440 1200 1199 600 */


@media (max-width: 1200px) {
  .vasek {
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    /* 64% */
  }

  .vasek-volonteer {
    /* margin-right: 65px; */
    margin-left: 10px;
    top: 8px;
  }


  .vasek-support {
    top: 8px;
    left: 5px;
  }

  /* .vasek-volonteer::after {
    content: "";
    position: absolute;
    background-image: url("../../assets/imgs/nc-visible.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    right: -60px;
    width: 48px;
    height: 27px;
  } */

  .about-us__about-info-novisible {
    position: relative;
    padding-right: 58px;
  }

  .about-us__about-info-novisible::after {
    content: "";
    background-image: url("../../assets/imgs/nc-visible.svg");
    width: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 27px;
    position: absolute;
    top: 3px;
  }

  .about-us__about-info-span::after {
    content: "";
    background-image: url("../../assets/imgs/nc-measure-value-for-cost.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -40px;
    top: 0;
    width: 48px;
    height: 27px;
  }

  .about-us__about-info-span {
    margin-left: 40px;
    position: relative
  }

  .about-us__about-block {
    padding: 16px;
    border-radius: 24px;
  }

  .interaction-map__text-info-title .vasek {
    margin-right: 10px;
    top: 7px;
    font-size: 56px;
    line-height: 0px;
  }

  .interaction-map {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
  }

  .interaction-map__info {
    display: none;
  }

  .interaction-map__info-show-btn {
    display: block;
  }

  .interaction-map__text-info_mobile {
    display: block
  }

  .swiper-slide {
    border-radius: 16px;
  }


  .staff-item__footer {
    width: 100%;
  }

  .interaction-map__image-block {
    width: 100%;
  }
}


@media (max-width:600px) {
  .some-popup-score-btn {
    display: block;
    /* margin-top: 20px; */
  }
}