#footer {
    background: var(--primary-color);
    border-radius: 24px 24px 0px 0px;
    padding: 40px;
    color: var(--white-color);
}

.footer-top {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(50% - 12px);
}

.footer-item.phone {
    order: 1;
}

.footer-item.email {
    margin-top: 64px;
    order: 3;
}

.footer-item.supervisor {
    order: 2;
}

.footer-item.wrap {
    margin-top: 64px;
    order: 4;
}

.footer-item .text-sm {
    color: var(--text02-color);
}

.footer-item p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-item.wrap {
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 413px;
}

.footer-bottom {
    border-top: 1px solid var(--primary-press-color);
    display: flex;
    width: 100%;
    gap: 24px;
    margin-top: 56px;
    padding-top: 24px;
    align-items: center;
}

.footer-bottom-item {
    width: calc(50% - 12px);
    display: flex;
    gap: 16px;
    color: var(--text02-color);
}

.footer-bottom p:nth-child(2) {
    margin-left: auto;
}

@media(max-width:1199px) {
    .footer-top {
        flex-direction: column;
    }

    .footer-item {
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column-reverse;
    }

    .footer-bottom-item {
        width: 100%;
        flex-direction: column;
    }

    .footer-bottom p:nth-child(2) {
        margin-left: unset;
    }

}
