.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    background: var(--white-color);
    margin-top: 16px;
    align-items: center;
    border-radius: 12px;

}

.header-items {
    display: flex;
    gap: 24px;
    align-items: center;
    
}

.header-login-items {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.header-login-item{
    display: flex;
    align-items: center;

}
.header-login-item.count {
    padding: 4px 8px;
    gap: 10px;
    color: var(--pink-color);
    border-radius: 8px;
    background:  #FFEDF5;
}