@import url('../styles/components/event-card/event-card.css');
@import url("../styles/components/button/button.css");
@import url('./header.css');
@import url('./footer.css');
@import url('../../pages/main_page/main_page.css');
@import url('../styles/components/event-card/event-card.css');
@import url('../styles/components/popup/popup.css');
@import url('../styles/components/news-card/news-card.css');
@import url('../styles/components/universal-banner/universal-banner.css');
@import url('../styles/components/universal-tabs/universal-tabs.css');
@import url('../styles/components/universal-filter/universal-filter.css');

/*ABOUT_US */
@import url("../../pages/about_us/about_us.css");
/* PUBLISH EVENTS */
@import url('../../pages/publish_events/publish_events.css');
/* EVENTS DETAIL */
@import url('../../pages/publish_events_detail/publish_events_detail.css');

/* posters */
@import url('../../pages/posters/posters.css');
/* news */
@import url('../../pages/news/news.css');

/* news detail */
@import url('../../pages/news_detail/news_detail.css');

/* what need volonters */
@import url('../../pages/what_need_volonters/what_need_volonters.css');

/* rating */
@import url('../../pages/rating/rating.css');

@import url('../../pages/lk_profile/lk_profile.css');

/* lc-events */
@import url('../../pages/lk_events/lk_events.css');

/* lc_events_history */

@import url('../../pages/lk_events_history/lk_events_history.css');

/* lk_score__and__rating */
@import url('../../pages/lk_score_and_rating/lk_scode_and_rating.css');

/* lk_profile_org */

@import url('../../pages/lk_org_profile/lk_profile_org.css');
/* lc-reports */
@import url('../../pages/lk_reports/lk_reports.css');
@import url('../../pages/lk_org_events/lk_org_events.css');


/* motivation */

@import url('../../pages/motivation/style.css');

:root {
    --primary-color: #14004E;
    --primary-hover-color: #423270;
    --primary-press-color: #372668;
    --primary-container: #EFE9FF;
    --white-color: #FFFFFF;
    --text00-color: #242424;
    --text01-color: #606C7D;
    --text02-color: #B6C0CF;
    --base00-color: #F6F8FC;
    --base02-color: #313033;
    --pink-color: #EF036C;
    --green-color: #31EC56;
    --warning-color: #FFC700;
    --purple-color: #6200EA;
    --purple-hover-color: #7F31EC;
    --purple-press-color: #9555EE;
    --orange-color: #FF6F00;
    --blue-color: #3D5AFE;
    --margin-sm: 24px;
    --margin-medium: 32px;
    --margin-2xl: 96px;
}

:root {
    --primary-color: #14004E;
    --primary-hover-color: #423270;
    --primary-press-color: #372668;
    --white-color: #FFFFFF;
    --text00-color: #242424;
    --text01-color: #606C7D;
    --text02-color: #B6C0CF;
    --base00-color: #F6F8FC;
    --base02-color: #313033;
    --pink-color: #EF036C;
    --green-color: #31EC56;
    --warning-color: #FFC700;
    --purple-color: #6200EA;
    --purple-hover-color: #7F31EC;
    --purple-press-color: #9555EE;
    --orange-color: #FF6F00;
    --blue-color: #3D5AFE;
    --margin-sm: 24px;
    --margin-medium: 32px;
    --margin-2xl: 96px;
    --margin-xl: 48px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--base00-color);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

button{
    outline: none;
    border: unset;
    cursor: pointer;
    background: unset;
}

@media(max-width:1440px) {
    .container {
        margin: 0 40px;
    }
}

@media(max-width:1199px) {
    .container {
        margin: 0 16px;
    }
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../fonts/EuclidCircularB-Bold.eot');
    src: local('Euclid Circular B Bold'), local('../fonts/EuclidCircularB-Bold'),
        url('../fonts/EuclidCircularB-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularB-Bold.woff2') format('woff2'),
        url('../fonts/EuclidCircularB-Bold.woff') format('woff'),
        url('../fonts/EuclidCircularB-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('EuclidCircularB-Italic.eot');
    src: local('Euclid Circular B Italic'), local('EuclidCircularB-Italic'),
        url('EuclidCircularB-Italic.eot?#iefix') format('embedded-opentype'),
        url('EuclidCircularB-Italic.woff2') format('woff2'),
        url('EuclidCircularB-Italic.woff') format('woff'),
        url('EuclidCircularB-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../fonts/EuclidCircularB-Medium.eot');
    src: local('Euclid Circular B Medium'), local('../fonts/EuclidCircularB-Medium'),
        url('../fonts/EuclidCircularB-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularB-Medium.woff2') format('woff2'),
        url('../fonts/EuclidCircularB-Medium.woff') format('woff'),
        url('../fonts/EuclidCircularB-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../fonts/EuclidCircularB-SemiBoldItalic.eot');
    src: local('Euclid Circular B SemiBold Italic'), local('../fonts/EuclidCircularB-SemiBoldItalic'),
        url('../fonts/EuclidCircularB-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularB-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/EuclidCircularB-SemiBoldItalic.woff') format('woff'),
        url('../fonts/EuclidCircularB-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../fonts/EuclidCircularB-BoldItalic.eot');
    src: local('Euclid Circular B Bold Italic'), local('../fonts/EuclidCircularB-BoldItalic'),
        url('../fonts/EuclidCircularB-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularB-BoldItalic.woff2') format('woff2'),
        url('../fonts/EuclidCircularB-BoldItalic.woff') format('woff'),
        url('../fonts/EuclidCircularB-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../fonts/../fonts/EuclidCircularB-MediumItalic.eot');
    src: local('Euclid Circular B Medium Italic'), local('../fonts/../fonts/EuclidCircularB-MediumItalic'),
        url('../fonts/../fonts/EuclidCircularB-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/EuclidCircularB-MediumItalic.woff2') format('woff2'),
        url('../fonts/../fonts/EuclidCircularB-MediumItalic.woff') format('woff'),
        url('../fonts/../fonts/EuclidCircularB-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../fonts/EuclidCircularB-SemiBold.eot');
    src: local('Euclid Circular B SemiBold'), local('../fonts/EuclidCircularB-SemiBold'),
        url('../fonts/EuclidCircularB-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularB-SemiBold.woff2') format('woff2'),
        url('../fonts/EuclidCircularB-SemiBold.woff') format('woff'),
        url('../fonts/EuclidCircularB-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../fonts/EuclidCircularB-Light.eot');
    src: local('Euclid Circular B Light'), local('../fonts/EuclidCircularB-Light'),
        url('../fonts/EuclidCircularB-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularB-Light.woff2') format('woff2'),
        url('../fonts/EuclidCircularB-Light.woff') format('woff'),
        url('../fonts/EuclidCircularB-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../fonts/EuclidCircularB-Regular.eot');
    src: local('Euclid Circular B Regular'), local('../fonts/EuclidCircularB-Regular'),
        url('../fonts/EuclidCircularB-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularB-Regular.woff2') format('woff2'),
        url('../fonts/EuclidCircularB-Regular.woff') format('woff'),
        url('../fonts/EuclidCircularB-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../fonts/EuclidCircularB-LightItalic.eot');
    src: local('Euclid Circular B Light Italic'), local('../fonts/EuclidCircularB-LightItalic'),
        url('../fonts/EuclidCircularB-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularB-LightItalic.woff2') format('woff2'),
        url('../fonts/EuclidCircularB-LightItalic.woff') format('woff'),
        url('../fonts/EuclidCircularB-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Vasek';
    src: url('../fonts/Vasek.ttf') format('truetype');
}

.mt-sm {
    margin-top: var(--margin-sm);
}

.mt-md {
    margin-top: var(--margin-medium);
}

.mt-2xl {
    margin-top: var(--margin-2xl);
}

.vasek {
    font-family: 'Vasek';
    font-style: italic;
    font-weight: 400;
    line-height: 64px;
}


.title-xl {
    color: #14004E;
    font-family: "Euclid Circular B";
    font-size: 48px;
    font-style: normal;
    line-height: 64px;
    font-weight: 500;
}

.title-lg {
    font-family: "Euclid Circular B";
    font-size: 40px;
    font-style: normal;
    line-height: 56px;
    font-weight: 500;
}

.title-md {
    font-family: "Euclid Circular B";
    font-size: 32px;
    font-style: normal;
    line-height: 48px;
    font-weight: 500;
}

.title-sm {
    font-family: "Euclid Circular B";
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
    font-weight: 500;
}

.text-xl {
    font-family: "Euclid Circular B";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.text-lg {
    font-family: "Euclid Circular B";
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
    font-weight: 500;
}

.text-md {
    font-family: "Euclid Circular B";
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
}

.text-sm {
    font-family: "Euclid Circular B";
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.text-sl {
    font-family: "Euclid Circular B";
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
}

.text-bold {
    font-weight: 500;
}

.text-primary {
    color: var(--primary-color);
}

.text-pink {
    color: var(--pink-color)
}

.text-gray {
    color: var(--text01-color);
}

.main__button {
    color: var(--primary-color);
    font-family: "Euclid Circular B";
    background: #EFE9FF;
    border-radius: 8px;
    padding: 16px 24px;
    width: fit-content;
    font-weight: 500;
    transition: .4s;
    cursor: pointer;
}

.main__button:hover {
    background: #E5DFF4;
}

.main__button.white:hover {
    background: #E5DFF4;
}

.main__button.blue:hover {
    background: #423270;
}

.main__button.pd-sm {
    padding: 6px;
}

.main__button.white {
    background-color: var(--white-color);
    font-weight: 500;
    color: var(--primary-color);
    border: 1px solid #EFE9FF;
}

.main__button.blue {
    background-color: var(--primary-color);
    font-weight: 500;
    color: var(--white-color);
}

.main__button.full {
    width: 100%;
    text-align: center;
}

.half-width {
    max-width: 560px;
}

@media(max-width:1199px) {
    .title-xl {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

    .title-md {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

    .text-lg {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    .text-md {
        font-size: 14px;
        line-height: 24px;
    }

    .mt-2xl {
        margin-top: var(--margin-xl);
    }

    .title-lg {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

}

@media (max-width: 600px) {
    .container {
        margin: 0 16px;
    }

    .title-md {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }

    .title-sm {
        font-size: 18px;
        line-height: 28px;
    }

    .mobile-full {
        width: 100%;
        text-align: center;
    }

    .mt-sm {
        margin-top: 16px;
    }
}

.swiper-pagination-bullet {
    background: #EFE9FF;
    opacity: 0.9;
    backdrop-filter: blur(4px);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
    opacity: 0.9;
    backdrop-filter: blur(4px);
}

.gray {
    color: var(--text01-color);
}

.dark {
    color: var(--text00-color);
}

.pink {
    color: var(--pink-color);
}

.primary {
    color: var(--primary-color);
}

.universal__input {
    display: flex;
    padding: 16px;
    color: var(--primary-color);
    background-color: var(--base00-color);
    border-radius: 8px;
    outline: none;
    border: unset;
    height: 56px;
    width: 100%;
}
.universal__input-wrapper{
    display: flex;
    width: 100%;
    position: relative;
}
.universal__input-wrapper svg{
    position: absolute;
    top: 15px;
    right: 20px;
}
.input:focus {
    background: #E6EFFD !important;
}

.universal__input::placeholder {
    color: var(--text02-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.universal__checkbox {
    width: 24px;
    height: 24px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text02-color);
}

.universal__checkbox-inside {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

.universal__select {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    color: var(--text02-color);
    padding: 16px;
    border-radius: 8px;
    background: var(--base00-color);
    border: none;
}

.universal__select-inside {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.universal__select.active {
    background: var(--white-color);
}

.universal__select.active .universal__select-inside {
    display: flex;
    flex-direction: column;
    background: var(--white-color);
    width: 100%;
    left: 0;
    top: 0px;
    padding: 0 16px;
    border-radius: 8px;
    color: var(--base02-color);
    gap: 4px;
    max-height: 164px;
    overflow: auto;
    font-weight: 500;
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15), 0px 4px 12px 3px rgba(0, 0, 0, 0.10);
    z-index: 10;
}

.universal__select-inside-item {
    padding: 16px;
}

.universal__file-area {}

input {
    outline: none;
}

.relative {
    position: relative;
}

/* event-card */

.profile-left-item:hover {
    color: var(--primary-color);
}

.footer-item p {
    cursor: pointer;
}

.footer-bottom-item p {
    cursor: pointer;
}

