.event__card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    width: calc(25% - 18px);
}
.event__card-top{
    position: relative;
    max-width: 290px;
    max-height: 290px;
    overflow: hidden;
    border-radius: 16px;
}
.event__card-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event__card-action{
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    top: 12px;
    left: 12px;
    z-index: 1;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15), 0px 4px 12px 3px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
}
.event__card-plus{
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    top: 12px;
    left: 60px;
    z-index: 1;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15), 0px 4px 12px 3px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    color: var(--primary-color);
}
.event__card-count{
    position: absolute;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    top: 12px;
    right: 12px;
    z-index: 1;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15), 0px 4px 12px 3px rgba(0, 0, 0, 0.10);
}
.event__card-line-wrapper{
    display: flex;
    flex-direction: column;
}
.event__card-line-count{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.event__card-line{
    position: relative;
    width: 100%;
    background: #FFEDF5;
    height: 4px;
    margin-top: 8px;
}
.event__card-line-inside{
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 4px;
    background: var(--pink-color);
    border-radius: 8px;
}
.event__card-bottom{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.event__card-bottom .text_md{
    font-weight: 500;
}
.event__card-bottom-item{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text00-color);
}
.event__card.last .text_lg{
    color: var(--primary-color);
    font-weight: 500;
}
.event__card.last .text_sm{
    color: var(--text01-color);
}
.event__card.last .main__button{
    margin-top: auto;
    width: 100%;
    font-weight: 500;
    text-align: center;
}

@media(max-width:800px){
    .event__card{
        width: 100%;
    }
    .event__card-top{
        max-width: unset;
    }
    .event__card.last .main__button{
        margin-top: 24px;
    }
}