.btn {
  padding: 16px 38px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: var(--white-color);
  cursor: pointer;
  white-space: nowrap;
  transition: background-color .2s linear;
}



.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-hover-color);
}

.btn-primary:focus {
  background-color: #372668;

}

.btn-secondary {
  background-color: var(--primary-container);
  color: var(--primary-color)
}

.btn-secondary {
  background-color: #E5DFF4;

}

.btn-pink {
  background-color: #FFEDF5;
  color: #EF036C;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-container);
  color: var(--primary-color);
}

.btn-over {
  padding: 6px 24px;
  height: 100%;
}