.score__and__rating{
    padding: 24px;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
}
.profile-right-score__rating{
    display: flex;
    gap: 32px;
}
.profile-right-score__rating-item{
    display: flex;
    flex-direction: column;
    background: var(--base00-color);
    width: 100%;
    padding: 16px;
    border-radius: 16px;
}
.profile-right-score__rating-item-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.profile-right-score__rating-item-question {
    margin-top: 16px;
    color: var(--primary-color);
    font-weight: 500;
}
.some-popup-score__and__history{
    display: flex;
    flex-direction: column;
    gap: 24px;
}